# Ignore dada2_16S directories and files
dada2_16S/results/
dada2_16S/work/
dada2_16S/data/test_data/
dada2_16S/.nextflow/
dada2_16S/.nextflow.log*

# Ignore scRNAseq directories and files
scRNAseq/results/
scRNAseq/work/
scRNAseq/data/raw_fastq/
scRNAseq/.nextflow/
scRNAseq/.nextflow.log*

# Ignore metagenomics directories and files
metagenomics/results/
metagenomics/work/
metagenomics/data/raw_fastq/
metagenomics/.nextflow/
metagenomics/.nextflow.log*

# Ignore humann3 directories and files
metagenomics-humann

# Ignore Nextflow log files
.nextflow/
.nextflow.log*

# Large sequencing files
*.fastq.gz
*.fa.gz
*.fq.gz
*.fastq
*.fa
*.fq

# Ignore other common files
*.DS_Store
*.swp
*.bak
*.tmp