params {
    samples_csv = "./data/samplesheet.csv"
    outdir = "results"
    trimgalore {
        quality = 20
        length = 43
        adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
        adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }
}

process {
    withName: FASTQC {
        memory = '8 GB'
        cpus = 2
    }

    withName: TRIMGALORE {
        memory = '8 GB'
        cpus = 2
    }
}