profiles {
    cluster {
        params {
            samples_csv = "./data/samplesheet.csv"
            outdir = "results"
            profile = "cluster"
            trimgalore {
                quality = 20 // Default: 20
                length = 43 // Default: 43
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            starsolo {
                index = "/home/mmacowan/mf33/Databases/ensembl/human/STARgenomeIndex78"
                soloType = 'CB_UMI_Complex' // Default: 'CB_UMI_Complex'
                soloCBmatchWLtype = 'EditDist_2' // Default: 'EditDist_2'
                soloUMIdedup = '1MM_CR' // Default: '1MM_CR'
                soloUMIfiltering = 'MultiGeneUMI_CR' // Default: 'MultiGeneUMI_CR'
                soloCellFilter = 'EmptyDrops_CR' // Default: 'EmptyDrops_CR'
                soloMultiMappers = 'EM' // Default: 'EM'
            }
        }

        process {
            executor = 'slurm'
            conda = './environment.yaml'
            queueSize = 12
            submitRateLimit = '1/2sec'
            memory = '320 GB'

            withName: FASTQC {
                memory = '80 GB'
                cpus = 8
                clusterOptions = '--time=8:00:00'
            }
            withName: TRIMGALORE {
                memory = '80 GB'
                cpus = 8
                clusterOptions = '--time=8:00:00'
            }
            withName: STARSOLO {
                memory = '80 GB'
                cpus = 12
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
            withName: COLLECT_EXPORT_FILES {
                memory = '32 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
        }
    }

    local {
        params {
            samples_csv = "./data/samplesheet.csv"
            outdir = "results"
            profile = "local"
            trimgalore {
                quality = 20 // Default: 20
                length = 43 // Default: 43
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            starsolo {
                index = "/mnt/GDrive_01/Monash/20_Databases/scRNAseq/ensembl/human/STARgenomeIndex78"
                soloType = 'CB_UMI_Complex' // Default: 'CB_UMI_Complex'
                soloCBmatchWLtype = 'EditDist_2' // Default: 'EditDist_2'
                soloUMIdedup = '1MM_CR' // Default: '1MM_CR'
                soloUMIfiltering = 'MultiGeneUMI_CR' // Default: 'MultiGeneUMI_CR'
                soloCellFilter = 'EmptyDrops_CR' // Default: 'EmptyDrops_CR'
                soloMultiMappers = 'EM' // Default: 'EM'
            }
        }

        process {
            withName: FASTQC {
                memory = '8 GB'
                cpus = 4
            }
            withName: TRIMGALORE {
                memory = '8 GB'
                cpus = 4
            }
            withName: STARSOLO {
                memory = '16 GB'
                cpus = 8
            }
            withName: COLLECT_EXPORT_FILES {
                memory = '16 GB'
                cpus = 8
            }
        }
    }
}
