profiles {
    cluster {
        params {
            samples_csv = "./data/samplesheet.csv"
            outdir = "results"
            profile = "cluster"
            trimgalore {
                quality = 20
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            starsolo {
                soloUMIdedup = '1MM_CR'
                soloUMIfiltering = 'MultiGeneUMI_CR'
                soloCellFilter = 'EmptyDrops_CR'
                soloMultiMappers = 'EM'
            }
        }

        process {
            executor = 'slurm'
            conda = './environment.yaml'
            memory = '320 GB'
		    queueSize = '10'
		    submitRateLimit = '5sec'
			errorStrategy = 'ignore'

            withName: FASTQC {
                memory = { task.attempt <= 3 ? 60.GB + (task.attempt - 1) * 20.GB : 100.GB + (task.attempt - 3) * 20.GB }
                cpus = 8
                time = { task.attempt <= 3 ? 4.hour : 4.hour + (task.attempt - 3) * 6.hour }
                clusterOptions = { task.attempt <= 3 ? '--partition=genomics --qos=genomics' : '' }
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 6
            }
            
            withName: TRIMGALORE {
                memory = { task.attempt == 1 ? 80.GB : 80.GB + (task.attempt - 1) * 20.GB }
                cpus = 8
                time = { task.attempt == 1 ? 10.hour : 10.hour + (task.attempt - 1) * 6.hour }
                clusterOptions = "--account=cd75"
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 6
            }
            
            withName: STARSOLO {
                memory = { task.attempt <= 3 ? 120.GB + (task.attempt - 1) * 20.GB : 160.GB + (task.attempt - 3) * 20.GB }
                cpus = 12
                time = { task.attempt <= 3 ? 4.hour : 4.hour + (task.attempt - 3) * 6.hour }
                clusterOptions = { task.attempt <= 3 ? '--partition=genomics --qos=genomics' : '' }
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 6
            }
            
            withName: COLLECT_EXPORT_FILES {
                memory = { task.attempt <= 3 ? 80.GB + (task.attempt - 1) * 20.GB : 120.GB + (task.attempt - 3) * 20.GB }
                cpus = 8
                time = { task.attempt <= 3 ? 4.hour : 4.hour + (task.attempt - 3) * 6.hour }
                clusterOptions = { task.attempt <= 3 ? '--partition=genomics --qos=genomics' : '' }
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 6
            }
        }
    }

    local {
        params {
            samples_csv = "./data/samplesheet_test.csv"
            outdir = "results"
            profile = "local"
            trimgalore {
                quality = 20 // Default: 20
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            starsolo {
                soloUMIdedup = '1MM_CR' // Default: '1MM_CR'
                soloUMIfiltering = 'MultiGeneUMI_CR' // Default: 'MultiGeneUMI_CR'
                soloCellFilter = 'EmptyDrops_CR' // Default: 'EmptyDrops_CR'
                soloMultiMappers = 'EM' // Default: 'EM'
            }
            
        }

        process {
            withName: FASTQC {
                memory = '8 GB'
                cpus = 4
            }
            withName: TRIMGALORE {
                memory = '8 GB'
                cpus = 4
            }
            withName: STARSOLO {
                memory = '24 GB'
                cpus = 8
            }
            withName: COLLECT_EXPORT_FILES {
                memory = '16 GB'
                cpus = 8
            }
        }
    }
}
