profiles {
    local {
        params {
            outdir = "results"
            soupx_correction {
                export_archive = './results/export_files.tar.gz'
                data_option = 'GeneFull_Ex50pAS'
                pca_dims = '1:30'
            }
        }

        process {
            withName: DECOMPRESS_EXPORT_ARCHIVE {
                memory = '8GB'
                cpus = 2
            }
            withName: SOUPX_CORRECTION {
                memory = '16 GB'
                cpus = 4
            }
        }
    }
}
