profiles {
    cluster {
        params {
            sample_sheet = 'sample_sheet.csv'
            outdir = './results'
            filter_and_trim {
                truncLen = '240,240'
                maxEE = '4,4'
                trimLeft = '54,54'
                truncQ = '2,2'
                maxN = '0,0'
            }
            assign_taxonomy {
                trainSet_link = 'https://zenodo.org/records/14169026/files/silva_nr99_v138.2_toGenus_trainset.fa.gz?download=1'
                trainSet_file = 'silva_nr99_v138.2_toGenus_trainset.fa.gz'
                assignSpecies_link = 'https://zenodo.org/records/14169026/files/silva_v138.2_assignSpecies.fa.gz?download=1'
                assignSpecies_file = 'silva_v138.2_assignSpecies.fa.gz'
            }
        }
        process {
            executor = 'slurm'
            conda = './environment.yaml'
            queueSize = 12
            submitRateLimit = '1/2sec'
            memory = '320 GB'

            withName: DEMULTIPLEX {
                memory = '52 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --partition=genomics'
            }
            withName: ERROR_MODEL {
                memory = '52 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --partition=genomics'
            }
            withName: MERGE_PAIRED_ENDS {
                memory = '52 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --partition=genomics'
            }
            withName: REMOVE_CHIMERAS {
                memory = '52 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --partition=genomics'
            }
            withName: ASSIGN_TAXONOMY {
                memory = '52 GB'
                cpus = 8
                clusterOptions = '--time=4:00:00 --partition=genomics --partition=genomics'
            }
            withName: DE_NOVO_PHYLO_TREE {
                memory = '160 GB'
                cpus = 24
                clusterOptions = '--time=24:00:00'
            }
        }
    }
    
    local {
        params {
            sample_sheet = 'sample_sheet.csv'
            outdir = "./results"
            filter_and_trim {
                truncLen = '240,240'
                maxEE = '4,4'
                trimLeft = '54,54'
                truncQ = '2,2'
                maxN = '0,0'
            }
            assign_taxonomy {
                trainSet_link = 'https://zenodo.org/records/14169026/files/silva_nr99_v138.2_toGenus_trainset.fa.gz?download=1'
                trainSet_file = 'silva_nr99_v138.2_toGenus_trainset.fa.gz'
                assignSpecies_link = 'https://zenodo.org/records/14169026/files/silva_v138.2_assignSpecies.fa.gz?download=1'
                assignSpecies_file = 'silva_v138.2_assignSpecies.fa.gz'
            }
        }
        process {
            withName: DEMULTIPLEX {
                memory = '16GB'
                cpus = 8
            }
            withName: ERROR_MODEL {
                cpus = 8
            }
            withName: MERGE_PAIRED_ENDS {
                cpus = 8
            }
            withName: REMOVE_CHIMERAS {
                cpus = 8
            }
            withName: ASSIGN_TAXONOMY {
                memory = '16GB'
                cpus = 8
            }
            withName: DE_NOVO_PHYLO_TREE {
                memory = '64GB'
                cpus = 24
            }
        }
    }
}