profiles {
    cluster {
        params {
            samples_csv = "sample_sheet.csv"
            outdir = "results"
            profile = "cluster"
            trimgalore {
                quality = 20 // Default: 20
                length = 25
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            decontaminate {
                host = 'human'       // Options: 'human' or 'mouse'
                hostIndex = ''
            }
            taxonomy {
                kraken2_db = ''
                kmer_length = 35 // k-mer length for kraken2 database
            }
            bracken {
                bracken_level = 'S'
            }
        }

        process {
            executor = 'slurm'
            conda = './environment.yaml'
            queueSize = 12
            submitRateLimit = '1/2sec'
            memory = '320 GB'

            withName: FASTQC {
                memory = '80 GB'
                cpus = 8
                clusterOptions = '--time=8:00:00'
            }
            withName: TRIMGALORE {
                memory = '80 GB'
                cpus = 8
                clusterOptions = '--time=8:00:00'
            }
            withName: KOMPLEXITY_FILTER {
                memory = '80 GB'
                cpus = 12
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
            withName: PREPARE_HOST_GENOME {
                memory = '40 GB'
                cpus = 8
                clusterOptions = '--time=24:00:00'
            }
            withName: HOST_DECONTAMINATE {
                memory = '80 GB'
                cpus = 12
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
            withName: PREPARE_KRAKEN2_DB {
                memory = '120 GB'
                cpus = 24
                clusterOptions = '--time=24:00:00'
            }
            withName: CLASSIFY_KRAKEN2 {
                memory = '120 GB'
                cpus = 16
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
            withName: MERGE_KRAKEN2_REPORTS {
                memory = '40 GB'
                cpus = 6
                clusterOptions = '--time=4:00:00 --partition=genomics --qos=genomics'
            }
            withName: PREPARE_BRACKEN_DB {
                memory = '120 GB'
                cpus = 24
                clusterOptions = '--time=24:00:00'
            }
        }
    }

    local {
        conda {
            enabled = true
            useMamba = true // ← tell Nextflow to use `mamba`/`micromamba` instead of `conda`
            autoMounts = true // for environments that ship data files
        }
        params {
            samples_csv = 'sample_sheet.csv'
            outdir = 'results'
            profile = 'local'
            trimgalore {
                quality = 20 // Default: 20
                length = 25
                adapter = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
                adapter2 = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
            }
            decontaminate {
                host = 'human'       // Options: 'human' or 'mouse'
                hostIndex = '/mnt/GDrive_01/Monash/20_Databases/metaG_hostIndex/chm13v2.0_GRCh38_full_plus_decoy'
            }
            taxonomy {
                kraken2_db = '/mnt/GDrive_01/Monash/20_Databases/kraken2/kraken2_database'
                kmer_length = 35 // k-mer length for kraken2 database
            }
            bracken {
                bracken_level = 'S'
            }
        }

        process {
            withName: FASTQC {
                memory = '8 GB'
                cpus = 4
            }
            withName: TRIMGALORE {
                memory = '8 GB'
                cpus = 4
            }
            withName: KOMPLEXITY_FILTER {
                memory = '8 GB'
                cpus = 1
            }
            withName: PREPARE_HOST_GENOME {
                memory = '16 GB'
                cpus = 1
            }
            withName: HOST_DECONTAMINATE {
                memory = '8 GB'
                cpus = 2
            }
            withName: CLASSIFY_KRAKEN2 {
                memory = '32 GB'
                cpus = 16
            }
            withName: PREPARE_BRACKEN_DB {
                memory = '120 GB'
                cpus = 24
            }
        }
    }
}
